<a href="https://colab.research.google.com/github/Ashwini356/sample/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 41 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 41.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=98b147f0fbfb32b0b92d8a24ed7c652f89edbe2e0b94e8e119baf4a3854af561
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [4]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('pyspark').getOrCreate()

In [8]:
data = [["1", "sravan", "company 1"],
        ["2", "ojaswi", "company 1"], 
        ["3", "rohith", "company 2"],
        ["4", "sridevi", "company 1"], 
        ["5", "bobby", "company 1"]]

In [9]:
columns = ['ID', 'NAME', 'Company']

In [10]:
dataframe = spark.createDataFrame(data, columns)

In [15]:
dataframe.show()

+---+-------+---------+
| ID|   NAME|  Company|
+---+-------+---------+
|  1| sravan|company 1|
|  2| ojaswi|company 1|
|  3| rohith|company 2|
|  4|sridevi|company 1|
|  5|  bobby|company 1|
+---+-------+---------+

In [11]:
data1 = [["1", "45000", "IT"],
         ["2", "145000", "Manager"],
         ["6", "45000", "HR"],
         ["5", "34000", "Sales"]]

In [12]:
columns = ['ID', 'salary', 'department']

In [13]:
dataframe1 = spark.createDataFrame(data1, columns)

In [14]:
dataframe1.show()

+---+------+----------+
| ID|salary|department|
+---+------+----------+
|  1| 45000|        IT|
|  2|145000|   Manager|
|  6| 45000|        HR|
|  5| 34000|     Sales|
+---+------+----------+

In [17]:
dataframe.join(dataframe1,dataframe.ID == dataframe1.ID, "inner").show()

+---+------+---------+---+------+----------+
| ID|  NAME|  Company| ID|salary|department|
+---+------+---------+---+------+----------+
|  1|sravan|company 1|  1| 45000|        IT|
|  2|ojaswi|company 1|  2|145000|   Manager|
|  5| bobby|company 1|  5| 34000|     Sales|
+---+------+---------+---+------+----------+

In [19]:
dataframe.join(dataframe1,dataframe.ID == dataframe1.ID,"left").show()

+---+-------+---------+----+------+----------+
| ID|   NAME|  Company|  ID|salary|department|
+---+-------+---------+----+------+----------+
|  1| sravan|company 1|   1| 45000|        IT|
|  2| ojaswi|company 1|   2|145000|   Manager|
|  3| rohith|company 2|null|  null|      null|
|  5|  bobby|company 1|   5| 34000|     Sales|
|  4|sridevi|company 1|null|  null|      null|
+---+-------+---------+----+------+----------+

In [20]:
dataframe.join(dataframe1,dataframe.ID == dataframe1.ID, "right").show()

+----+------+---------+---+------+----------+
|  ID|  NAME|  Company| ID|salary|department|
+----+------+---------+---+------+----------+
|   1|sravan|company 1|  1| 45000|        IT|
|   2|ojaswi|company 1|  2|145000|   Manager|
|   5| bobby|company 1|  5| 34000|     Sales|
|null|  null|     null|  6| 45000|        HR|
+----+------+---------+---+------+----------+

In [21]:
dataframe.join(dataframe1,dataframe.ID == dataframe1.ID, "full").show()

+----+-------+---------+----+------+----------+
|  ID|   NAME|  Company|  ID|salary|department|
+----+-------+---------+----+------+----------+
|   1| sravan|company 1|   1| 45000|        IT|
|   2| ojaswi|company 1|   2|145000|   Manager|
|   3| rohith|company 2|null|  null|      null|
|   4|sridevi|company 1|null|  null|      null|
|   5|  bobby|company 1|   5| 34000|     Sales|
|null|   null|     null|   6| 45000|        HR|
+----+-------+---------+----+------+----------+

In [22]:
dataframe.join(dataframe1,dataframe.ID == dataframe1.ID,"outer").show()

+----+-------+---------+----+------+----------+
|  ID|   NAME|  Company|  ID|salary|department|
+----+-------+---------+----+------+----------+
|   1| sravan|company 1|   1| 45000|        IT|
|   2| ojaswi|company 1|   2|145000|   Manager|
|   3| rohith|company 2|null|  null|      null|
|   4|sridevi|company 1|null|  null|      null|
|   5|  bobby|company 1|   5| 34000|     Sales|
|null|   null|     null|   6| 45000|        HR|
+----+-------+---------+----+------+----------+

In [23]:
dataframe.join(dataframe1,dataframe.ID == dataframe1.ID,"cross").show()

+---+------+---------+---+------+----------+
| ID|  NAME|  Company| ID|salary|department|
+---+------+---------+---+------+----------+
|  1|sravan|company 1|  1| 45000|        IT|
|  2|ojaswi|company 1|  2|145000|   Manager|
|  5| bobby|company 1|  5| 34000|     Sales|
+---+------+---------+---+------+----------+